################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CoDUO FoV Changer/v16
/CoDUO FoV Changer/obj/x86
/CoDUO FoV Changer/bin/x86/Debug
/packages/Newtonsoft.Json.11.0.1
